<h1><a href="{{url_for('tournaments.tournament', tid=tournament.id)}}">{{ tournament.name }}</a></h1>
{% if tournament.description %}
<p>{{ tournament.description }}</p>
{% endif %}
{% if admin %}
<a href="{{ url_for('edit_tournament', tid=tournament.id) }}" class="btn btn-primary">Settings</a>
<p></p>
{% endif %}

<div class="row">
    <div class="col-md-3">
        {% if tournament.current_round == 0 and (tournament.allow_self_registration or not current_user.is_anonymous)%}
        <a href="{{ url_for('tournaments.add_player', tid=tournament.id)}}" class="btn btn-primary">Register</a>
        {% endif %}
        {% if tournament.current_round > 0 %}
        <!-- Current Round Link -->
        <h3><a href="{{ url_for('tournaments.round', tid=tournament.id, rnd=tournament.current_round)}}">Current
                Round</a></h3>

        <h3>Rounds</h3>
        {% for round in range(1,tournament.current_round+1) %}
        <a href="{{ url_for('tournaments.round', tid=tournament.id, rnd=round)}}"
            class="text-primary fs-4 d-inline-block me-3">{{round}}
        </a>
        {% endfor %}
        <a href="{{ url_for('tournaments.round_current', tid=tournament.id)}}"
           class="text-primary fs-4 d-inline-block me-3">Current
        </a>
        {% endif %}
    </div>
    <div class="col-md-3">
        {% if tournament.cut is not none %}
        <h3>Cut Rounds</h3>
        {% for round in range(1, tournament.cut.rnd+1) %}
        <a href="{{ url_for('cut_round', tid=tournament.id, rnd=round)}}"
            class="text-primary fs-4 d-inline-block me-3">{{round}}</a>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-6">

    </div>
</div>