{% extends "base.html" %}

{% block content %}
<li class="alert alert-primary" role="alert">25/5/11 Enabled First Round Byes - will see * next to players who are
    registred with First Round Byes.</li>
<li class="alert alert-primary" role="alert">25/5/17 Fixed/Improved ID Registration & ABR Export</li>
{% if current_user.is_authenticated %}
<a href="{{ url_for('tournaments.create_tournament') }}" class="btn btn-primary">Create Tournament</a>
{% endif %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tournament Name</th>
            <th>Current Round</th>
            <th>Number of Players</th>
            <th>Date</th>
        </tr>
    </thead>
    {% for tournament in tournaments|sort(attribute='date', reverse=True) %}
    <tr>
        <th><a href="{{ url_for('tournaments.tournament', tid=tournament.id) }}">{{ tournament.name }}</a></th>
        <th>{{ tournament.current_round }}</th>
        <th>{{ tournament.players | length}}</th>
        <th>{{ tournament.date.strftime("%Y-%m-%d") }}</th>
    </tr>
    {% endfor %}
</table>
{% if next_url %}
<a href="{{ next_url }}">Older tournaments</a>
{% endif %}
{% if prev_url %}
<a href="{{ prev_url }}">Newer tournaments</a>
{% endif %}

{% endblock %}