{% extends "base.html" %}

<h1>Register Player</h1>
{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.corp.label }}<br>
        {{ form.corp }}<br>
    </p>
    <p>
        {{ form.runner.label }}<br>
        {{ form.runner }}<br>
    </p>
    <!-- Removing Bye functionality for now
    <p>
        {{form.bye}}{{ form.bye.label}}
    </p>
    -->
    <p>
        {{form.pronouns.label}}<br>
        {{form.pronouns}}<br>
    </p>
    <input type="submit" value="Register" />
    <p><a href="{{ url_for('tournaments.add_player', tid=tournament.id) }}" </p>

</form>
{% endblock %}