{% extends "base.html" %}

{% block content %}
<h1>{{heading}}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(size=64) }}<br>
        {% for error in form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.date.label }}<br>
        {{ form.date(size=32) }}<br>
        {% for error in form.date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.allow_self_registration.label}}<br>
        {{form.allow_self_registration}}<br>
    </p>
    <p>
        {{form.allow_self_results_report.label}}<br>
        {{form.allow_self_results_report}}<br>
    </p>
    <p>
        {{form.visible.label}}<br>
        {{form.visible}}<br>
    </p>
    <p>
        {{form.require_decklist.label}}<br>
        {{form.require_decklist}}<br>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}