<!--TODO add delete/drop/edit forms and manual round pairing-->
{% extends "base.html" %}
{% block content %}
<h1>{{ tournament.name }}</h1>
{% if tournament.description %}
<p>{{ tournament.description }}</p>
{% endif %}
{% if tournament.current_round == 0%}
<a href="{{ url_for('add_player', tid=tournament.id)}}" class="btn btn-primary">Register</a>
{% endif %}
{% if tournament.current_round > 0 %}
<h3>Round</h3>
{% for round in range(1,tournament.current_round+1) %}
<a href="{{ url_for('round', tid=tournament.id, rnd=round)}}" class="text-primary fs-4 d-inline-block me-3">{{round}}
</a>
{% endfor %}
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Corp</th>
            <th>Runner</th>
            <th>Score</th>
            <th>SoS</th>
            <th>ESoS</th>
            <th>Side Bias</th>
        </tr>
    </thead>
    {% for player in tournament.rank_players() %}
    <tr>
        <td>{{ loop.index0 + 1 }}</td>
        <td>{{ player.name }}</td>
        <td><span class="{{ get_faction(player.corp)}}">{{ player.corp }}</span></td>
        <td><span class="{{ get_faction(player.runner)}}">{{ player.runner }}</span></td>
        <td>{{ player.get_record()['score'] }}</td>
        <td>{{ "%0.3f"|format(player.sos) }}</td>
        <td>{{ "%0.3f"|format(player.esos) }}</td>
        <td>{{ display_side_bias(player) }}</td>
        {% if admin %}
        <td>
            <a href="{{ url_for('edit_player', pid=player.id) }}" class="btn btn-success">Edit</a>
            {% if tournament.current_round == 0 %}
            <a href="{{ url_for('delete_player', pid=player.id) }}" class="btn btn-danger">Delete</a>
            {% endif %}
            {% if player.active %}
            <a href="{{ url_for('drop_player', pid=player.id) }}" class="btn btn-warning">Drop</a>
            {% else %}
            <a href="{{ url_for('undrop_player', pid=player.id) }}" class="btn btn-primary">Undrop</a>
            {% endif %}
        </td>
        {% endif %}
        {% endfor %}
</table>

{% if admin %}
<a href="{{ url_for('pair_round', tid=tournament.id) }}" class="btn btn-primary">Pair Round</a>
<a href="{{ url_for('add_player', tid=tournament.id)}}" class="btn btn-primary">Register</a>
{% endif %}
{% endblock %}